*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
Body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode',
     'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     color: #535050;
   
}
#h34d3r{
    width: 100%;
    margin-top: 10vw;
    text-align: center;
    
}
h2{
    font-size: 4.5vw;
}
h4{
    font-size: 3.5vw;
    font-weight: 900;
}
#pr07l3{
    width:30%;
    text-align: center;
    margin-left: 35%;
}
img{
    width: 100%;
    border-radius: 20px;
}
img:hover{
    width: 105%;
    transition: 0.7s;
    cursor: pointer;
    opacity: 0.8;
}
.p0sTs{
    display: inline-block;
    width: 20%;
    height:12vw;
    border-radius: 10px;
    margin: 5vw 3% 0 0;
    padding:2%;
    background-color: #dbdada;
    text-align: center;
}
#sm40W{
    font-size: 2.3vw;
    color: #979393;

}
#gR1d-c0n4iN3R{
    display: grid;
    gap:3%;
    padding: 3vw;
    margin-top: 4vw;
}
.Tem1{
    grid-column: 1 /span 1;
    grid-row: 1;  
}
.Tem2{
    grid-column:2 /span 2;
    grid-row: 1;
}
.Tem3{
    grid-column: 1 / span 2;
    grid-row: 2;
}
.Tem4{
    grid-column: 3 / span 1;
    grid-row:2 /span 2 ;
}
.Tem5{
    grid-column: 1/ span 1;
    grid-row: 3;
}
.Tem6{
    grid-column: 2/ span 1;
    grid-row: 3;
}
#w4t3rM4Rk{
    margin: 7vw 0 1vw 20%;
    font-size: 2.5vw;
}
span{
    text-decoration: underline;
}

@media screen and (min-width:561px){
    #h34d3r{
        width: 100%;
        margin-top: 6vw;
        text-align: center;
        
    }
    h2{
        font-size: 3.2vw;
    }
    h4{
        font-size: 2.5vw;
    }
    #pr07l3{
        width:20%;
        text-align: center;
        margin-left: 40%;
    }
    .p0sTs{
        display: inline-block;
        width: 15%;
        height:9vw;
        border-radius: 10px;
        margin: 2vw 2% 0 1%;
        padding:2%;
        background-color: #dbdada;
        text-align: center;
    }
    #sm40W{
        font-size: 1.5vw;
        color: #979393;
    }
    #gR1d-c0n4iN3R{
        display: grid;
        width:80%;
        gap:2%;
        padding: 3vw;
        margin: 2vw 0 0 10%;
    }
    #w4t3rM4Rk{
        margin: 7vw 0 1vw 35%;
        font-size: 1.5vw;
    }
   
}
@media screen and (min-width:1000px){
    #h34d3r{
        width: 100%;
        margin-top: 3.5vw;
        text-align: center;
        
    }
    h2{
        font-size: 1.5vw;
    }
    h4{
        font-size: 1.2vw;
    }
    #pr07l3{
        width:10%;
        text-align: center;
        margin-left: 45%;
    }
    .p0sTs{
        display: inline-block;
        width: 7%;
        height:4.5vw;
        border-radius: 10px;
        margin: 1vw 1.5% 0 0.5%;
        padding:1%;
        background-color: #dbdada;
        text-align: center;
    }
    #sm40W{
        font-size: 0.9vw;
        color: #979393;
    }
    #gR1d-c0n4iN3R{
        display: grid;
        width:70%;
        gap:2%;
        padding: 3vw;
        margin: -1vw 0 0 15%;
    }
    #w4t3rM4Rk{
        margin: 7vw 0 1vw 40%;
        font-size: 1vw;
    }

    
}